<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="accueil.css">
<link rel="stylesheet" href="liste_recettes.css">
<link rel="stylesheet" href="formulaire_recettes.css">
<link rel="stylesheet" href="liste_depenses.css">
<link rel="stylesheet" href="formulaire_depenses.css">
<link rel="stylesheet" href="show_recette.css">
<link rel="stylesheet" href="show_depense.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">accueil</a></li>
            <li><a href="/formulaire_recettes">formulaire recettes</a></li>
            <li><a href="/liste_recettes">liste de recettes</a></li>
            <li><a href="/formulaire_depenses">formulaire depenses</a></li>
            <li><a href="/liste_depenses">liste de depenses</a></li>
        </ul>
    </nav>
   